<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
    /*
    * Base structure
    */

    html,
    body {
        height: 100%;
        background-color: #141414;
    }

    .portrait{
        height: 150px;
        border-radius: 50%;
    }

    .profile_links{
      margin-right: 15%;
      margin-left: 15%;
    }

    .table td{
      border-top: 0px;
      font-size: 1.1rem;
    }

    a{
      color: white;
    }

    a:hover {
      color: #82b2ed;
      text-decoration: none;
    }

</style>

<body class="text-center text-white">

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  <header class="masthead mb-auto">

  </header>

  <main role="main" class="inner cover">
    <img class="portrait" src="/img/portrait_avatar_size.jpg"/>
    <h1 class="cover-heading">Vinny Senthil</h1>
    <p class="lead"><i>“Focused on turning breakthrough technology into enterprise products”</i></p>
    <div class="row profile_links">
    <table class="table text-white">
      <tbody>
        <tr>
          <td><a target="_blank" href="https://linkedin.com/in/vinnysenthil">LinkedIn</a></td>
          <td><a target="_blank" href="https://github.com/vinnysenthil">GitHub</td>
          <td><a target="_blank" href="/docs/Vinny_Senthil_Resume.pdf">Résumé</td>
          <td><a target="_blank" href="mailto:vinnysenthil@gmail.com">Email</td>
          <td><a target="_blank" href="https://twitter.com/vinnysenthil">Twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  </main>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p class="text-muted"><i>Rails website under construction</i></p>
    </div>
  </footer>
</div>
</body>
</html>